<div class="ui pointing link item">
    <a target="_blank" href="//facebook.com/SyliusEcommerce/"><i class="facebook icon"></i></a>
    <a target="_blank" href="//instagram.com/sylius.team/"><i class="instagram icon"></i></a>
    <a target="_blank" href="//twitter.com/sylius"><i class=" twitter card icon"></i></a>
</div>
