<div class="ui center aligned inverted basic segment">
    <p>&copy; Ô Bonheur des marques, {{ 'sylius.ui.powered_by'|trans }} <a href="#" target="_blank" style="color: #fff4e4;">DreesisLab</a>.</p>
</div>
